*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.Cards-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 500px;
}
.cards{
    box-shadow: 0 4px 8px 0 rgba(0, 0,0 , 0.2);
    transition: 0.3s;
    width: 300px;
    background-color: #1C1F2B;
    border-radius: 25px;
    padding:10px;
    text-align: center;
    position: relative;
}
@property --angel{
    syntax: '<angel>';
    initial-value: 10deg;
    inherits: false;
}
.cards::after, .cards::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-color: red; */
    top: 50%;
    left: 50%;
    translate: -50%-50%;/* to put the bg in the center of the cards*/
    z-index: -1;/* to push th bg to the back of the cards*/
    padding: 3px;
    border-radius: 25px;
    background-image: conic-gradient(from var(--angel), #ff4545,#00ff99,#006aff,#FF0095,#ff4545);
    animation: 1s spin linear infinite;
} 
.cards::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}
@keyframes spin {
    from{
        --angle:10deg;
    }
    to{
        --angel:360deg
    }
}
.cards img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid #EEEEEE;
}
.container{
    padding: 2px 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.container h4{
    color: #EEEEEE;
}
